 .swiper-button-prev,
 .swiper-button-next {
   position: absolute;
   top: 0;
   right: 0;
   width: 27px;
   height: 44px; 
   z-index: 10;
   cursor: pointer;
   background-size: 27px 44px;
   background-position: center;
   background-repeat: no-repeat;
 }